# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
AddModuleCommand.log
ModuleLoader.log
PlanNUS.txt
SetTargetCommand.log
SetTargetCommand.log.1
/text-ui-test/DIFF.TXT
DIFF.TXT
PlanNUS.txt
AddModuleCommand.log
ModuleLoader.log
SetTargetCommand.log
SetTargetCommand.log.1
ModuleLoader.log.1
AddModuleCommand.log.lck

AddModuleCommand.log.1
